html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

body {
  margin-top: 0;
}

div {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* header section */

header {
  color: white;
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header span {
  padding: 0.66rem 0;
}

/* Banner section */

.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.banner .arrival {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.banner h4 {
  font-weight: bold;
}

.banner h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

/* Navigation bar section */

.navbar {
  background-color: firebrick;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.items a {
  color: white;
  text-decoration: none;
}

.products {
  width: 960px;
}

.products .grid {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.grid .item {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%
}

.item img {
  height: 9rem;
  width: 100%;
  padding: 2rem;
}

.item p {
  background-color: black;
  color: white;
}